@page "/demo"
@inject IJSRuntime JsRuntime

<!-- Modal HTML -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Modal body content...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button @onclick="ShowModal">Show Modal</button>
<button @onclick="HideModal">Hide Modal</button>

@code {
    private async Task ShowModal()
    {
        await JsRuntime.InvokeVoidAsync("showModal");
    }

    private async Task HideModal()
    {
        await JsRuntime.InvokeVoidAsync("hideModal");
    }
}
